<app-title></app-title>

<div class="ingredient_container">
  <h3 class="text-light text-center mt-3">Drink with
    <span>{{ ingredient }}</span>
  </h3>
  <img class="ingredient_image" [src]="ingredientPic" alt="ingredientPic picture">
</div>
<div
  class="container d-flex flex-row flex-wrap justify-content-around align-items-baseline p-3"
>
  <div class="card m-3" style="width: 18rem" *ngFor="let drink of drinks">
    <img
      class="card-img-top"
      [src]="drink.strDrinkThumb"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ drink.strDrink }}</h5>
      <a
        class="button btn-accent"
        type="button"
        [routerLink]="'/drink/' + drink.idDrink"
        >Details</a
      >
    </div>
  </div>
</div>
